@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

label {
    flex-basis: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}

select,
input[type="number"],
input[type="time"],
input[type="date"] {
    flex-basis: calc(33.33% - 10px);
    font-size: 18px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

button {
    background-color: #555;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}